/* @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Encode+Sans+Expanded&family=Open+Sans&family=Poppins&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");

/* Color Variables */

:root {
  --white: #fff;
  --black: #111111;
  --grey: #f1f1f1;
  --theme-blue: #2f8ded;
  --error: #f44336;
  --theme-blue-lighter: #59acff;
  --theme-blue-lightest: #59acff3d;
}

:root {
  --small: 0.75rem;
  --medium: 1rem;
  --large: 1.333rem;
  --header-main: 2.369rem;
  --header-sub: 1.777rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  /* font-family: 'Open Sans', sans-serif;  */
  font-family: "Courier New", Courier, monospace;
}

/* Reusable classes */

.container {
  width: 100%;
}


.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.faqSectionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

#faqHeader {
  font-size: 2rem;
  margin: 30px 0px 50px;
}

.faqContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 30px;
}

/* a question container */
.questionsContainer {
  width: 100%;
  border: #4c8ff59c solid 2px;
  padding: 30px;
  transition: background-color 1s ease-in-out;
}

/* A single question */
.question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.question > h3 {
  font-weight: 700;
  font-size: var(--large);
  text-transform: uppercase;
  /* font-size: var(--header-sub); */
}

/* Drop down svg */
.dropdownSvg {
  width: 30px;
  height: auto;
  transition: display 1s ease-in-out;
}

/* cancel svg */
.cancelSvg {
  display: none;
}

.questionsContainer.active {
  background-color: var(--theme-blue-lightest);
}

.questionsContainer.active .dropdownSvg {
  opacity: 0;
  display: none;
}

.questionsContainer.active .cancelSvg {
  display: block;
  width: 30px;
  height: auto;
}

.faqAnswer {
  max-height: 0;
  overflow: hidden;
  transition: none;
  /* transition: max-height .5s ease; */
}

.faqAnswer > p {
  font-size: large;
  line-height: var(--large);
}

.questionsContainer.active .faqAnswer {
  max-height: 560px;
  margin-top: .5rem;
  animation: fade 1s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-.5rem);
    
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ----------------------------------------------------------------------------------------- */

/* Styles concerning the FAQ form section */

/* for when there is an error */

.error {
    border: 2px solid var(--error);
    border-radius: 5px;
}

.error .input {
    border: none;
}

/* Styles for FAQ Form */

.formHeaderText {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 0 2rem;
    margin-bottom: .5rem;
}

.formHeaderText .line {
    width: 4rem;
    height: .3rem;
    background-color: var(--theme-blue);
    border-radius: 1rem;
}

.title{
    font-weight: 700;
    font-size: var(--header-sub);
    line-height: 1;
}

/* Form Layout using grid */

.questionForm {
  width: 80%;
}

.formLayout {
    padding: 2rem 0;
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "name email" "title purpose" "message message" "submit submit";   
    column-gap: 2rem;
    row-gap: 2rem;
}

.nameArea {
    grid-area: name;
}
.emailArea {
    grid-area: email;
}
.titleArea {
    grid-area: title;
}
.positionArea {
    grid-area: purpose;
}
.messageArea {
    grid-area: message;
}

.buttonArea {
    grid-area: submit;
    display: flex;
    justify-content: center;
}

/* Styles for input wrapper div's */

.inputContainer {
    position: relative;
}

.input{
    width: 100%;
    outline: none;
    border: 2px solid var(--black);
    background: none;
    padding: 0.6rem 1.2rem;
    font-size: .95rem;
    border-radius: 5px;
    transition: .3s;
}

.textarea .input {
    padding: .8rem 1.2rem;
    min-height: 150px;
    resize: none;
    overflow-y: auto;
}


/* placeholder Label */

.inputContainer label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    font-size: .9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}

.inputContainer.textarea label {
    top: 1rem;
    transform: translateY(0);
}

.inputContainer.focus label{
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: .8rem; 
}

/* Button Styles */
.btn {
    padding: .6rem 1.3rem;
    background-color: var(--theme-blue);
    border: 2px solid var(--black);
    font-size: 1rem;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: .3s;
    margin: 0;
    min-width: fit-content;
    max-width: 5rem;
    justify-self: center;
}

.btn:hover{
    background-color: var(--white);
    color: black;
}

/* Placeholder text Styles on the top of the input field */
.inputContainer span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
}

.inputContainer span:before,
.inputContainer span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: .3s;
    height: 5px;
    background-color: var(--white);
    top: 50%;
    transform: translateY(-50%);
}

.inputContainer span:before{
    left: 50%;
}

.inputContainer span:after{
    right: 50%;
}

.inputContainer.focus span:before,
.inputContainer.focus span:after{
    width: 50%;
    opacity: 1;
}

/* Media Queries for the FAQ page */

@media (max-width: 480px) {
    .formLayout {
        padding: 1.7rem 1.6rem;
    }

    .input {
        padding: .45rem 1.2rem;
    }

    .btn {
        padding: .45rem 1.2rem;
    }
}

@media (max-width: 640px) {
    .formLayout {
        grid-template-columns: 1fr;
        grid-template-areas: "name" "email" "title" "purpose" "message" "submit";
    }

    .wrapper {
      padding: 0;
    }

    .container {
        max-width: 640px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 768px;
    }

    /* Brooks CSS */

    #faqHeader {
      font-size: 1.5rem;
    }
    .question > h3 {
      font-size: 1.2rem;
    }
}
@media (max-width: 1024px) {
    .container {
        max-width:1024px;
    }

    /* Brooks Styles */

    .logoImage {
      width: 15%;
    }
    .faqNavbarLinksContainer {
      width: 73%;
      gap: 3%;
    }
    .logoImage {
      width: 20%;
    }
}
@media (max-width: 1280px) {
    .container {
        max-width:1280px;
    }
}