<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="base.css">
    <title>Base</title>
</head>
<body>
    <div>
        <h1 class="font fontHeader">This is css for header text</h1>
    </div>

    <div>
        <h1 class="font fontSubHeader">This is css for subheader text</h1>
    </div>

    <div>
        <h1 class="font fontText">This is css for normal text</h1>
    </div>
</body>
</html>