<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="button.css">
    <title>Implementation</title>
</head>
<body>
    <div class="table">
        <table>
            <thead>
                <th>Button Type</th>
                <th>Button Description</th>
            </thead>
            <tbody>
                <tr>
                    <td><button class="btn btnPrimary">Primary Button</button></td>
                    <td>Main button styling, for all primary buttons like 'Sign Up', 'Get Started', etc...</td>
                </tr>
                <tr>
                    <td><button class="btn btnSecondary">Secondary Button</button></td>
                    <td>Fot buttons found in sub-sections</td>
                </tr>
                <tr>
                    <td><button class="btn btnAlert">Alert Button</button></td>
                    <td>Profile information changing, light warnings</td>
                </tr>
                <tr>
                    <td><button class="btn btnDanger">Danger Button</button></td>
                    <td>Deletion, heavy modification, error (not found)</td>
                </tr>
                <tr>
                    <td><button class="btn btnPrimary btnBig">Big Primary Button</button></td>
                    <td>Self explanatory</td>
                </tr>
                <tr>
                    <td><button class="btn btnPrimary btnSmall">Small Primary Button</button></td>
                    <td>Self explanatory</td>
                </tr>
                <tr>
                    <td><button class="btn btnPrimary btnBlock">Block Button</button></td>
                    <td>Fills as much space as is given to it</td>
                </tr>
                <tr>
                    <td><button class="btn btnPrimary btnHoverExpand">Expanding Button</button></td>
                    <td>Self explanatory</td>
                </tr>
                <tr>
                    <td><button class="btn btnPrimary btnHoverGlow">Glowing Button</button></td>
                    <td>Self explanatory</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    
</body>
</html>