<!DOCTYPE html>
<html>
    <head>
        <link href="cards.css" rel="stylesheet">        
    </head>
    <body>

        <div class="cardShowCase">

            <div class="card">
                <img src="assets/trusted_certification.svg">
                <h1> Generic Card </h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores neque culpa ab, iure, totam voluptas vitae fugit perferendis, qui odio similique voluptate esse illo cupiditate reprehenderit aperiam inventore sunt sint? </p>
            </div>
            
            <div class="card cardBorderDotted">
                <img src="assets/trusted_certification.svg">
                <h1> Dotted Border </h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores neque culpa ab, iure, totam voluptas vitae fugit perferendis, qui odio similique voluptate esse illo cupiditate reprehenderit aperiam inventore sunt sint? </p>
            </div>    

            <div class="card cardBorderDashed">
                <img src="assets/trusted_certification.svg">
                <h1> Dashed Border </h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores neque culpa ab, iure, totam voluptas vitae fugit perferendis, qui odio similique voluptate esse illo cupiditate reprehenderit aperiam inventore sunt sint? </p>
            </div>

            <div class="card cardHoverShadow">
                <img src="assets/trusted_certification.svg">
                <h1> Hover To Shadow </h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores neque culpa ab, iure, totam voluptas vitae fugit perferendis, qui odio similique voluptate esse illo cupiditate reprehenderit aperiam inventore sunt sint? </p>
            </div>

            <div class="card cardShadowed">
                <img src="assets/trusted_certification.svg">
                <h1> Shadowed Card </h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores neque culpa ab, iure, totam voluptas vitae fugit perferendis, qui odio similique voluptate esse illo cupiditate reprehenderit aperiam inventore sunt sint? </p>
            </div>

        </div>

        <div class="cardShowCase">

            <div class="card cardRounded">
                <img src="assets/scientific_research.svg">
                <h1> Rounded Card </h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores neque culpa ab, iure, totam voluptas vitae fugit perferendis, qui odio similique voluptate esse illo cupiditate reprehenderit aperiam inventore sunt sint? </p>
            </div>    

            <div class="card cardRounded cardBorderDotted">
                <img src="assets/scientific_research.svg">
                <h1> Rounded Dotted Border </h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores neque culpa ab, iure, totam voluptas vitae fugit perferendis, qui odio similique voluptate esse illo cupiditate reprehenderit aperiam inventore sunt sint? </p>
            </div>    

            <div class="card cardRounded cardBorderDashed">
                <img src="assets/scientific_research.svg">
                <h1> Rounded Dashed Border </h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores neque culpa ab, iure, totam voluptas vitae fugit perferendis, qui odio similique voluptate esse illo cupiditate reprehenderit aperiam inventore sunt sint? </p>
            </div>    

            <div class="card cardRounded cardHoverShadow">
                <img src="assets/scientific_research.svg">
                <h1> Hover To Shadow </h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores neque culpa ab, iure, totam voluptas vitae fugit perferendis, qui odio similique voluptate esse illo cupiditate reprehenderit aperiam inventore sunt sint? </p>
            </div>    

            <div class="card cardRounded cardShadowed">
                <img src="assets/scientific_research.svg">
                <h1> Shadowed Rounded Card </h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores neque culpa ab, iure, totam voluptas vitae fugit perferendis, qui odio similique voluptate esse illo cupiditate reprehenderit aperiam inventore sunt sint? </p>
            </div>

        </div>

        <div class="cardShowCase"> 

            <div class="card cardRoundedTopLeft">
                <img src="assets/trusted_certification.svg">
                <h1> Top Left <br> Rounded Corner </h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores neque culpa ab, iure, totam voluptas vitae fugit perferendis, qui odio similique voluptate esse illo cupiditate reprehenderit aperiam inventore sunt sint? </p>
            </div>

            <div class="card cardRoundedTopRight">
                <img src="assets/trusted_certification.svg">
                <h1> Top Right <br> Rounded Corner </h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores neque culpa ab, iure, totam voluptas vitae fugit perferendis, qui odio similique voluptate esse illo cupiditate reprehenderit aperiam inventore sunt sint? </p>
            </div>

            <div class="card cardRoundedBottomLeft">
                <img src="assets/trusted_certification.svg">
                <h1> Bottom Left <br> Rounded Corner </h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores neque culpa ab, iure, totam voluptas vitae fugit perferendis, qui odio similique voluptate esse illo cupiditate reprehenderit aperiam inventore sunt sint? </p>
            </div>

            <div class="card cardRoundedBottomRight">
                <img src="assets/trusted_certification.svg">
                <h1> Bottom Right <br> Rounded Corner </h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores neque culpa ab, iure, totam voluptas vitae fugit perferendis, qui odio similique voluptate esse illo cupiditate reprehenderit aperiam inventore sunt sint? </p>
            </div>
                        
            <div class="card cardHoverRoundCorners">
                <img src="assets/trusted_certification.svg">
                <h1> Hover To Round Corners </h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores neque culpa ab, iure, totam voluptas vitae fugit perferendis, qui odio similique voluptate esse illo cupiditate reprehenderit aperiam inventore sunt sint? </p>
            </div>

        </div>

        <div class="cardShowCase">

            <div class="card cardColoredBG">
                <img src="assets/trusted_certification.svg">
                <h1> Colored Background Card </h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores neque culpa ab, iure, totam voluptas vitae fugit perferendis, qui odio similique voluptate esse illo cupiditate reprehenderit aperiam inventore sunt sint? </p>
            </div>
            
            <div class="card cardRounded cardColoredBG">
                <img src="assets/trusted_certification.svg">
                <h1> Colored Background Rounded Card </h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores neque culpa ab, iure, totam voluptas vitae fugit perferendis, qui odio similique voluptate esse illo cupiditate reprehenderit aperiam inventore sunt sint? </p>
            </div>    

            <div class="card cardGradientBG">
                <img src="assets/trusted_certification.svg">
                <h1> Gradient Background Card </h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores neque culpa ab, iure, totam voluptas vitae fugit perferendis, qui odio similique voluptate esse illo cupiditate reprehenderit aperiam inventore sunt sint? </p>
            </div>
            
            <div class="card cardRounded cardGradientBG">
                <img src="assets/trusted_certification.svg">
                <h1> Gradient Background Rounded Card </h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores neque culpa ab, iure, totam voluptas vitae fugit perferendis, qui odio similique voluptate esse illo cupiditate reprehenderit aperiam inventore sunt sint? </p>
            </div>    

            <div class="card cardHoverBackground">
                <img src="assets/trusted_certification.svg">
                <h1> Hover To Change Background </h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores neque culpa ab, iure, totam voluptas vitae fugit perferendis, qui odio similique voluptate esse illo cupiditate reprehenderit aperiam inventore sunt sint? </p>
            </div>
            


        </div>
        
        <div class="cardShowCase"> 

            <div class="card cardHoverFadeIn">
                <img src="assets/trusted_certification.svg">
                <h1> Hover To Fade In </h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores neque culpa ab, iure, totam voluptas vitae fugit perferendis, qui odio similique voluptate esse illo cupiditate reprehenderit aperiam inventore sunt sint? </p>
            </div>

            <div class="card cardHoverFadeOut">
                <img src="assets/trusted_certification.svg">
                <h1> Hover To Fade Out </h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores neque culpa ab, iure, totam voluptas vitae fugit perferendis, qui odio similique voluptate esse illo cupiditate reprehenderit aperiam inventore sunt sint? </p>
            </div>

            <div class="card cardHoverImageRotateVertical">
                <img src="assets/trusted_certification.svg">
                <h1> Hover To Rotate Image Vertically </h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores neque culpa ab, iure, totam voluptas vitae fugit perferendis, qui odio similique voluptate esse illo cupiditate reprehenderit aperiam inventore sunt sint? </p>
            </div>

            <div class="card cardHoverImageRotateHorizontal">
                <img src="assets/trusted_certification.svg">
                <h1> Hover To Rotate Image Horizontally </h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores neque culpa ab, iure, totam voluptas vitae fugit perferendis, qui odio similique voluptate esse illo cupiditate reprehenderit aperiam inventore sunt sint? </p>
            </div>

        </div>

        <div class="cardShowCase"> 

            <div class="card cardHoverScaleUp">
                <img src="assets/trusted_certification.svg">
                <h1> Hover To Scale Up</h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores neque culpa ab, iure, totam voluptas vitae fugit perferendis, qui odio similique voluptate esse illo cupiditate reprehenderit aperiam inventore sunt sint? </p>
            </div>
            
            <div class="card cardHoverScaleDown">
                <img src="assets/trusted_certification.svg">
                <h1> Hover To Scale Down </h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores neque culpa ab, iure, totam voluptas vitae fugit perferendis, qui odio similique voluptate esse illo cupiditate reprehenderit aperiam inventore sunt sint? </p>
            </div>            

        </div>

    </body>
</html>

